<?xml version="1.0"?>
<ApkGenerator>
  <tools>
    <javac>E:\adroidstudio\jre\bin\javac.exe</javac>
    <keytool>E:\adroidstudio\jre\bin\keytool.exe</keytool>
    <jarsigner>E:\adroidstudio\jre\bin\jarsigner.exe</jarsigner>
    <javadoc>E:\adroidstudio\jre\bin\javadoc.exe</javadoc>
    <adb>C:\Users\chend\AppData\Local\Android\Sdk\platform-tools\adb.exe</adb>
    <aapt>C:\Users\chend\AppData\Local\Android\Sdk\build-tools\28.0.3\aapt.exe</aapt>
    <zipalign>C:\Users\chend\AppData\Local\Android\Sdk\build-tools\28.0.3\zipalign.exe</zipalign>
    <dx>C:\Users\chend\AppData\Local\Android\Sdk\build-tools\28.0.3\dx.bat</dx>
    <android.jar>C:\Users\chend\AppData\Local\Android\Sdk\platforms\android-28\android.jar</android.jar>
  </tools>
  <developer>
    <company>StoryMonster</company>
    <organize>My</organize>
    <organizeUnit>Android</organizeUnit>
    <location>papapa</location>
    <state>Zhejiang</state>
    <countryCode>CN</countryCode>
  </developer>
</ApkGenerator>